.MainBanner {
  width: 100%;
  height: auto;
  background-color: white;
}

.content {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 30px;
}

.mainContent {
  padding-top: 43px;
  display: flex;
  flex-direction: column;
}

.mainContent span {
  font-weight: bold;
  color: #004e44;
  font-size: 38px;
}

.mainContent button,
img {
  width: 138px;
  height: 52px;
}

.mainContent button {
  margin-top: 32px;
  background: none;
  border: 'none';
  padding: 0;
}

.mainBannerImg {
  width: 614px;
  height: 614px;
}

.mainBannerImgMob {
  display: none;
}

/* mobile version */

@media screen and (max-width: 1160px) {
  .mainBannerImg {
    display: none;
  }

  .mainContent {
    padding-top: 0;
    padding-bottom: 64px;
    align-items: center;
  }

  .content {
    justify-content: center;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .mainContent span {
    text-align: center;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .mainBannerImgMob {
    margin: 48px 0;
    width: 211px;
    height: 219px;
    display: block;
  }
}
