.wrapper {
  margin-top: 168px;
  padding-bottom: 140px;
}

.wrapper h1 {
  text-transform: uppercase;
}

.sponsorsBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.sponsor {
  max-width: 231px;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sponsor img {
  width: 160px;
  height: 160px;
}

.sponsor .name {
  margin-top: 16px;
  font-size: 32px;
}

.sponsor .description {
  margin-top: 8px;
  text-align: center;
  color: #004e44;
  font-size: 16px;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    margin-top: 48px;
    padding-bottom: 48px;
  }
  .sponsorsBlock {
    margin-top: 32px;
  }

  .sponsor .logo {
    text-align: center;
    width: 90px;
    height: 90px;
  }

  .sponsor .name {
    font-size: 18px;
  }

  .sponsor .description {
    font-size: 16px;
  }

  .sponsor {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 8px;
  }

  .slick-slide {
    margin: 0 8px;
  }

  .slick-list {
    margin: 0 -8px;
  }
}
