.wrapper {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 200px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .title {
  font-size: 70px;
  text-transform: uppercase;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 2700px; /* 4 inputs with width 654px + margins */
  margin-top: 50px; /* Adjust this value as needed */
}

.inputGroup {
  display: flex;
  flex-direction: column;
  max-width: 654px;
  width: 100%;
}

.inputLabel {
  font-size: 18px;
  color: #004e44;
  font-weight: 400;
  margin-bottom: 16px;
}

.inputField {
  height: 64px;
  padding: 0 20px;
  border: 1px solid #004e44;
  background-color: #ffffff;
  border-radius: 38px;
  box-shadow:
    -4px -4px 4px #b3e028,
    4px 4px 4px #b3e028;
  font-size: 18px;
  color: #004e44;
  font-weight: 400;
}

.inputField:focus {
  outline: none;
  border: none;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 654px;
  height: 64px;
  background-color: #03aec6;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border: 1px solid #004e44;
  border-radius: 38px;
  box-shadow:
    -4px -4px 4px #b3e028,
    4px 4px 4px #b3e028;
  cursor: pointer;
  margin-top: 47px; /* Adjust this value as needed */
}

.submitButton:hover {
  background-color: #0295a1; /* Slightly darker shade for hover effect */
}

.submitButton:active {
  box-shadow: none; /* Remove shadow when button is clicked */
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 64px 0;
  }

  .content {
    padding: 0 16px;
  }

  .content .title {
    font-size: 24px;
  }

  .inputRow {
    gap: 24px;
    margin-top: 32px;
  }

  .inputLabel {
    font-size: 14px;
  }

  .inputField {
    height: 48px;
    padding: 0 16px;
  }

  .submitButton {
    height: 54px;
  }
}
